%h1 Listing class_proposals

%table
  %thead
    %tr
      %th Class name
      %th Description
      %th
      %th
      %th

  %tbody
    - @class_proposals.each do |class_proposal|
      %tr
        %td= class_proposal.class_name
        %td= class_proposal.description
        %td= link_to 'Show', class_proposal
        %td= link_to 'Edit', edit_class_proposal_path(class_proposal)
        %td= link_to 'Destroy', class_proposal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Class proposal', new_class_proposal_path
